.carrossel__title {
    color: var(--second-title-color);
    background-color: var(--second-background-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var(--second-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.description__title {
    color: var(--second-title-color);
    font-family: var(--main-source);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description__title-book {
    color: var(--paragraph-color);
    font-family: var(--main-source);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0.5em 0;
}

.description__text {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--main-source);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.buttons__item {
    margin: 0 0.5em;
    gap: 10px;
}

.buttons__anchor {
    background: var(--button-color);
    color: var(--first-title-color);
    padding: 1em 2.2em;
    font-weight: 700;
    text-decoration: none;
    gap: 10px;
    transition: all 0.2s ease;
}

.buttons__anchor:hover {
    background: linear-gradient(90deg, #EB9B00 0%, #F5BC3A 43.9%);
    transform: scale(1.1);

}  

@media screen and (min-width: 1024px){
    .carrossel__title {
        font-size: 26px;
        font-weight: 700;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        top: 55%;
        height: 48px;
        width: 48px;
        color: #fff;
        border-radius: 3em;
        padding: .3em;
        background: var(--belt-color);
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {

    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .description {
        margin-right: 2em;
    }

    .description__title {
        font-size: 32px;
        font-weight: 700;
        font-family: var(--main-source);
    }

    .description__text {
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }
}