.topics {
    background: var(--belt-color);
    text-align: center;
    padding: 1em 0;
}

.topics__title {
    color: var(--first-title-color);
    font-family: var(--main-source);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 2em 0.5em;
}

.topics__link {
    color: var(--first-title-color);
    padding: 1em;
    background-color: var(--button-color);
    font-family: var(--main-source);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.topics__link:hover {
    background: linear-gradient(90deg, #0A2647 0%, #154580 43.9%);
}